.panel-body , .list-group-item {
  margin-left: 40px !important;
}

.list-group {
    background-color: #b16a6a;
}

.list-group-item {
  list-style: decimal !important;

}

button {
  background-color: #f9f9f9 ;
  float: right;
}

span {
  color : black;
}

body {
  font-family: Cuprum ;
  font-size: 18px;
  background-color: #f1f1f1 ;
}
label {
  font-family: oswald;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
}

.navbar-default{
  font-family: Cuprum;
  font-size: 20px;
  background-color: #222222;

}
.menu {
  color: white;
}
.menu li{
  float: right;
  box-sizing: border-box ;
  display: inline;
  padding-right: 15px;
  color: white;
}
.menu li a {
  color: white ;
  text-decoration: none;
}
.menu li .active {
  color: red;
}
.menu a:hover {
  background-color: transparent;
  text-decoration: none;
  border-top-width: 1px;
  border-top-style: solid;
  padding-top: 10px;
  color: orange;
}
#footer1 {
  margin-top:1000px;
  background-color: black;
  padding-top: 15px;
  margin-bottom:5px;
  color: white;

}
#icons{
display: inline-block;  /* for icons to stay in line - not one above another.*/
max-width: 25px;
max-height: 25px;
cursor: pointer;
margin-right: 6px; /* distance between the icons*/
}

#navlist {
  color: #fff !important;
}

.navbar-brand {
  font-size: 30px;
  color: white !important;
}
